<md-menu>
    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" id="pst-new-task-button" aria-label="New Task">
        <md-tooltip>{{'Create a new item' | translate}}</md-tooltip>
        <md-icon md-svg-icon="av:playlist_add"></md-icon>
    </md-button>
    <md-menu-content>
        <md-menu-item>
            <md-button ng-click="ctrl.newTask($event, 'task')">{{'Create a task' | translate}}</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="ctrl.newTask($event, 'meeting')">{{'Create a meeting' | translate}}</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="ctrl.newDocument($event)">{{'Create a document' | translate}}</md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
