<div class="pst-document-list" layout="column">

    <div layout="row" layout-align="end start">

        <div layout-margin layout="row" class="ng-hide pst-options" ng-show="ctrl.showOptions">
            <div layout="column">
                <span>
                    {{'Sort By:' | translate}}
                </span>
                <md-radio-group ng-model="ctrl.sortField" ng-change="ctrl.onSort()">
                    <md-radio-button ng-repeat="item in ctrl.sortByItems.data"
                                     ng-value="item.field">
                        {{item.label}}
                    </md-radio-button>
                </md-radio-group>
            </div>

            <div layout="column">
                <span>
                    {{'Order:' | translate}}
                </span>
                <md-radio-group ng-model="ctrl.order" ng-change="ctrl.onSort()">
                    <md-radio-button ng-value="'desc'">{{'Descending' | translate}}</md-radio-button>
                    <md-radio-button ng-value="'asc'">{{'Ascending' | translate}}</md-radio-button>
                </md-radio-group>
            </div>
        </div>

        <md-button aria-label="Sort By" class="md-icon-button" ng-click="ctrl.showOptions = !ctrl.showOptions">
            <md-icon class="fa" ng-class="ctrl.showOptions ?  'fa-times' : 'fa-ellipsis-h'"></md-icon>
        </md-button>
    </div>

    <md-list class="md-whiteframe-z1">
        <div ng-repeat="dataItem in ctrl.data">
            <md-list-item class="md-3-line">
                <md-button ui-sref="document_update({topicCode: dataItem.task.topicCode, id: dataItem.task.id})"
                           flex
                           layout="row"
                           class="md-no-style md-list-item-inner">
                    <md-icon md-font-icon="fa-folder-open" class="fa fa-lg">
                    </md-icon>
                    <div class="md-list-item-text" flex layout="column" layout-gt-sm="row">
                        <div flex class="document-topic-title">
                            <h3 ng-bind-html="::(dataItem.name)"></h3>
                        </div>
                        <div layout="column" class="document-topic-code">
                            <p>{{::dataItem.code}}</p>
                        </div>
                    </div>
                </md-button>
            </md-list-item>

            <md-divider></md-divider>
        </div>
    </md-list>
</div>
