<md-grid-tile class="file-tile-uploading"
              ng-class="{'file-upload-error': upload.error}"
              md-rowspan="1"
              md-colspan="1"
              ng-repeat="upload in fileAdded.viewModel.documents.uploads | orderBy: 'file.name'">
    <div layout="column" flex class="md-whiteframe-z1 tile-content">
        <div class="file-tile-header" layout="row">
            <div layout-padding flex>
                <div flex class="file-tile-title">
                    {{::upload.file.name}}
                </div>
                <md-tooltip class="pst-file-list-tooltip">{{::upload.file.name}}</md-tooltip>
            </div>
            <md-button ng-if="!upload.error"
                       ng-click="fileAdded.cancel(upload)"
                       class="md-icon-button file-tile-button-right"
                       aria-label="Remove file">
                <md-icon md-svg-icon="navigation:close"></md-icon>
                <md-tooltip class="pst-file-list-tooltip">{{'Remove file' | translate}}</md-tooltip>
            </md-button>
            <md-button ng-if="upload.error"
                       ng-click="fileAdded.retry(upload)"
                       class="md-icon-button file-tile-button-right"
                       aria-label="Remove file">
                <md-icon md-svg-icon="action:autorenew"></md-icon>
                <md-tooltip class="pst-file-list-tooltip">{{'Retry upload' | translate}}</md-tooltip>
            </md-button>
        </div>
        <div flex layout="row" class="file-tile-content">
            <md-icon flex class="md-primary" md-svg-icon="action:description"></md-icon>
            <div class="file-version" ng-if="upload.version">{{upload.version}}</div>
        </div>
        <div class="file-tile-footer" layout="column">
            <div ng-if="!upload.done && !upload.error" flex layout-padding layout="row" layout-align="center center">
                <md-progress-linear class="md-accent"
                                    md-mode="determinate"
                                    value="{{upload.progress}}"></md-progress-linear>
            </div>
            <div ng-if="upload.done" layout-padding layout="row" layout-align="start center">
                <md-icon class="tile-upload-complete" md-svg-icon="navigation:check"></md-icon>
                <span>{{'Upload complete' | translate}}</span>
            </div>
            <div ng-if="upload.error" layout-padding layout="row" layout-align="start center">
                <md-icon class="tile-upload-complete" md-svg-icon="navigation:close"></md-icon>
                <span>{{'Upload failed' | translate}}</span>
            </div>
        </div>
    </div>
</md-grid-tile>
