<md-grid-tile class="file-tile-added-document"
              ng-repeat="document in fileAddedTasks.viewModel.documents.addedDocumentTasks | orderBy: 'title'"
              md-rowspan="1"
              md-colspan="1">
    <div layout="column" flex class="md-whiteframe-z1 tile-content">
        <div class="file-tile-header" layout="row">
            <div flex layout-padding>
                <div flex class="file-tile-title">
                    {{::document.title}}
                </div>
                <md-tooltip class="pst-file-list-tooltip">{{::document.title}}</md-tooltip>
            </div>
            <md-button ng-click="fileAddedTasks.detachDocTask(document)"
                       class="md-icon-button file-tile-button-right"
                       aria-label="Remove file">
                <md-icon md-svg-icon="navigation:close"></md-icon>
                <md-tooltip class="pst-file-list-tooltip">{{'Detach document task' | translate}}</md-tooltip>
            </md-button>
        </div>
        <div flex layout="row" class="file-tile-content">
            <md-icon flex class="md-primary" md-svg-icon="editor:attach_file"></md-icon>
        </div>
        <div class="folder-tile-footer" layout="row">
            <md-button class="md-icon-button"
                       ng-disabled="::document.fileId == null"
                       ng-href="{{::fileAddedTasks.getDocumentDownloadUrl(document)}}">
                <md-icon md-svg-icon="file:file_download"></md-icon>
                <md-tooltip ng-if="::document.fileId != null"
                            class="pst-file-list-tooltip">
                    {{'Download latest version' | translate}}
                </md-tooltip>
                <md-tooltip ng-if="::document.fileId == null"
                            class="pst-file-list-tooltip">
                    {{'Document unavailable' | translate}}
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ui-sref="document_update({topicCode: document.topicCode, id: document.id})">
                <md-icon md-svg-icon="action:description"></md-icon>
                <md-tooltip class="pst-file-list-tooltip">{{'Visit document task' | translate}}</md-tooltip>
            </md-button>
        </div>
    </div>
</md-grid-tile>
