<md-chips ng-model="users"
          md-autocomplete-snap
          readonly="disabled"
          class="pst-icon-chips">
    <md-autocomplete md-selected-item="selectedItem"
                     md-search-text="searchText"
                     md-items="item in searchQuery(searchText)"
                     md-item-text="''"
                     md-autoselect="true"
                     md-no-cache="true"
                     md-delay="2"
                     placeholder="{{label}}">
        <md-item-template>
            <span layout="row" class="autocomplete-result">
                <span flex md-highlight-text="searchText" class="user-autocomplete-name">{{item.name || item.loginName}}</span>
                <span md-highlight-text="searchText">({{item.loginName}})</span>
            </span>
        </md-item-template>
    </md-autocomplete>
    <md-chip-template>
        <span class="pst-chip-icon">
            <span class="fa {{$chip.type | pstUserTypeIcon}}"></span>
        </span>
        <span class="pst-chip-text">
            <strong>{{$chip.name}}</strong>
            <em>({{$chip.loginName || $chip}})</em>
        </span>
    </md-chip-template>
    <button type="button" md-chip-remove class="md-chip-remove" ng-disabled="disabled">
        <md-icon ng-if="!disabled" md-svg-icon="navigation:close"></md-icon>
    </button>
</md-chips>
