<div flex class="multi-input-container">
    <label class="multi-input-label" ng-class="{'focus': ctrl.focus}">{{ctrl.label}}</label>

    <div layout="row" class="multi-input-row">
        <md-input-container flex>
            <input flex
                   type="number"
                   ng-disabled="ctrl.disabled"
                   ng-model="ctrl.days"
                   ng-change="ctrl.onTimeChange()"
                   ng-blur="ctrl.onBlur()"
                   ng-focus="ctrl.onFocus()"
                   aria-label="{{ctrl.label + ' Days'}}"/>
        </md-input-container>
        <span flex class="work-time-label" translate>days</span>
        <md-input-container flex>
            <input flex
                   type="number"
                   ng-disabled="ctrl.disabled"
                   ng-model="ctrl.hours"
                   ng-change="ctrl.onTimeChange()"
                   ng-blur="ctrl.onBlur()"
                   ng-focus="ctrl.onFocus()"
                   aria-label="{{ctrl.label + ' Hours'}}"/>
        </md-input-container>
        <span flex class="work-time-label" translate>hours</span>
        <md-input-container flex>
            <input flex
                   type="number"
                   ng-disabled="ctrl.disabled"
                   ng-model="ctrl.minutes"
                   ng-change="ctrl.onTimeChange()"
                   ng-blur="ctrl.onBlur()"
                   ng-focus="ctrl.onFocus()"
                   aria-label="{{ctrl.label + ' Minutes'}}"/>
        </md-input-container>
        <span flex class="work-time-label" translate>minutes</span>
    </div>
    <div ng-transclude></div>
</div>
