<div>
    <md-chips style="height:24px;"
              ng-model="tasklist"
              md-autocomplete-snap
              md-require-match="true"
              readonly="disabled"
              class="pst-icon-chips">
        <md-autocomplete md-selected-item="selectedItem"
                         md-search-text="searchText"
                         md-items="item in searchQuery(searchText, taskTypes)"
                         md-item-text="item.topicCode ? item.topicCode + '#' + item.id : ''"
                         md-autoselect="true"
                         md-no-cache="true"
                         placeholder="{{label}}">
            <md-item-template>
                <span layout="row" class="autocomplete-result">
                    <span flex md-highlight-text="searchText" class="task-autocomplete-title">{{item.title}}</span>
                    <span md-highlight-text="searchText">({{item.topicCode}}#{{item.id}})</span>
                </span>
            </md-item-template>

        </md-autocomplete>
        <md-chip-template>
            <span class="pst-chip-icon">
                <span class="fa {{$chip.taskType | pstTaskTypeIcon}}"></span>
            </span>
            <span class="pst-chip-text">
                <strong>{{$chip.title | taskTitle}}</strong>
                <em>(<a pst-topic-sref pst-task-type="{{$chip.taskType}}" pst-topic-code="{{$chip.topicCode}}" pst-task-id="{{$chip.id}}">{{$chip.topicCode}}#{{$chip.id}}</a>)</em>
            </span>
        </md-chip-template>
        <button type="button" md-chip-remove class="md-chip-remove" ng-disabled="disabled">
            <md-icon ng-if="!disabled" md-svg-icon="navigation:close"></md-icon>
        </button>
    </md-chips>
</div>
