<div flex layout="column">
    <div layout-margin class="pst-scheduler-toolbar md-whiteframe-z1" layout="row" layout-align="space-between">
        <div layout="row" layout-align-sm="space-around">
            <span flex-sm ng-if="ctrl.isActiveView('agendaDay')" class="header-row-item" hide show-gt-xs>
                {{ctrl.currentDate | date: 'fullDate'}}
            </span>
            <span flex-sm ng-if="ctrl.isActiveView('agendaDay')" class="header-row-item" hide-gt-xs>
                {{ctrl.currentDate | date: 'longDate'}}
            </span>
            <span flex-sm ng-if="ctrl.isAgenda" class="header-row-item" hide show-gt-xs>
                {{ctrl.todayDate | date: 'fullDate'}}
            </span>
            <span flex-sm ng-if="ctrl.isAgenda" class="header-row-item" hide-gt-xs>
                {{ctrl.todayDate | date: 'longDate'}}
            </span>
            <span flex-sm ng-if="ctrl.isActiveView('month')" class="header-row-item">
                {{ctrl.currentDate | date: 'MMMM, yyyy'}}
            </span>
            <div flex-sm ng-if="!ctrl.isAgenda">
                <md-button ng-class="{'md-icon-button': ctrl.smallScreen}" ng-click="ctrl.today()">
                    <md-icon md-svg-icon="action:today"></md-icon>
                    <md-tooltip>{{'Today' | translate}}</md-tooltip>
                    <span hide show-gt-md>{{'Today' | translate}}</span>
                </md-button>
            </div>
            <div flex-sm ng-if="!ctrl.isAgenda">
                <md-button ng-class="{'md-icon-button': ctrl.smallScreen}" ng-click="ctrl.prev()">
                    <md-icon md-svg-icon="navigation:chevron_left"></md-icon>
                </md-button>
            </div>
            <div flex-sm ng-if="!ctrl.isAgenda">
                <md-button ng-class="{'md-icon-button': ctrl.smallScreen}" ng-click="ctrl.next()">
                    <md-icon md-svg-icon="navigation:chevron_right"></md-icon>
                </md-button>
            </div>

        </div>

        <div layout="row" layout-align-sm="space-around" hide show-gt-sm>
            <div flex-sm="">
                <md-button ng-class="{'md-icon-button': ctrl.smallScreen, 'md-primary': ctrl.isActiveView('agendaDay')}"
                           ng-click="ctrl.setView('day')">
                    <md-icon md-svg-icon="action:view_day"></md-icon>
                    <md-tooltip>{{'Day' | translate}}</md-tooltip>
                    <span hide show-gt-md>{{'Day' | translate}}</span>
                </md-button>
            </div>
            <!--<div flex-sm="">
                <md-button ng-class="{'md-icon-button': ctrl.smallScreen, 'md-primary': ctrl.isActiveView('agendaWeek')}"
                           ng-click="ctrl.setView('week')">
                    <md-icon md-svg-icon="action:view_week"></md-icon>
                    <md-tooltip>{{'Week' | translate}}</md-tooltip>
                    <span hide show-gt-md>{{'Week' | translate}}</span>
                </md-button>
            </div>-->
            <div flex-sm="">
                <md-button ng-class="{'md-icon-button': ctrl.smallScreen, 'md-primary': ctrl.isActiveView('month')}"
                           ng-click="ctrl.setView('month')">
                    <md-icon md-svg-icon="action:view_module"></md-icon>
                    <md-tooltip>{{'Month' | translate}}</md-tooltip>
                    <span hide show-gt-md>{{'Month' | translate}}</span>
                </md-button>
            </div>
            <div flex-sm="">
                <md-button ng-class="{'md-icon-button': ctrl.smallScreen, 'md-primary': ctrl.isAgenda}"
                           ng-click="ctrl.setView('agenda');">
                    <md-icon md-svg-icon="action:view_agenda"></md-icon>
                    <md-tooltip>{{'Agenda' | translate}}</md-tooltip>
                    <span hide show-gt-md>{{'Agenda' | translate}}</span>
                </md-button>
            </div>
        </div>
        <div hide-gt-sm>
            <md-menu>
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin md-svg-icon="navigation:more_vert"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-class="{'md-primary': ctrl.isActiveView('agendaDay')}" ng-click="ctrl.setView('day')">
                            <md-icon md-svg-icon="action:view_day"></md-icon>
                            <md-tooltip>{{'Day' | translate}}</md-tooltip>
                            <span>{{'Day' | translate}}</span>
                        </md-button>
                    </md-menu-item>
                    <!--<md-menu-item>
                        <md-button ng-class="{'md-primary': ctrl.isActiveView('agendaWeek')}" ng-click="ctrl.setView('week')">
                            <md-icon md-svg-icon="action:view_week"></md-icon>
                            <md-tooltip>{{'Week' | translate}}</md-tooltip>
                            <span>{{'Week' | translate}}</span>
                        </md-button>
                    </md-menu-item>-->
                    <md-menu-item>
                        <md-button ng-class="{'md-primary': ctrl.isActiveView('month')}" ng-click="ctrl.setView('month')">
                            <md-icon md-svg-icon="action:view_module"></md-icon>
                            <md-tooltip>{{'Month' | translate}}</md-tooltip>
                            <span>{{'Month' | translate}}</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-class="{'md-primary': ctrl.isAgenda}" ng-click="ctrl.setView('agenda')">
                            <md-icon md-svg-icon="action:view_agenda"></md-icon>
                            <md-tooltip>{{'Agenda' | translate}}</md-tooltip>
                            <span>{{'Agenda' | translate}}</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>

    </div>

    <div flex layout-margin class="pst-calendar-container md-whiteframe-z1" ng-class="{'hidden-calendar': ctrl.isAgenda}" >
        <div layout-margin
             flex
             class="pst-calendar"
             calendar="calendar"
             ui-calendar="ctrl.calendarConfig"
             ng-model="ctrl.eventSources"></div>
    </div>
    <div ng-if="ctrl.isAgenda" layout-margin>
        <pst-agenda style="margin:0px" data="ctrl.agendaEvents" page="3">

        </pst-agenda>
    </div>
</div>
