<md-dialog aria-label="{{'Attach folder' | translate}}" class="pst-new-task-dialog">
    <form>
        <md-dialog-content class="md-dialog-content">
            <div class="task-dialog-title" layout-fill translate>Attach a folder</div>
            <div>
                <md-autocomplete md-selected-item="ctrl.document"
                                 md-search-text="ctrl.searchText"
                                 md-items="item in ctrl.docsAutocomplete(ctrl.searchText)"
                                 md-item-text="item.topicCode + '#' + item.id + ' - (' + item.title + ')'"
                                 md-autoselect="true"
                                 md-autofocus="true"
                                 md-no-cache="true"
                                 md-floating-label="{{'Select a folder' | translate}}">
                    <md-item-template>
                        <span md-highlight-text="searchText">{{item.topicCode}}#{{item.id}} - ({{item.title}})</span>
                    </md-item-template>
                    <md-not-found>
                        {{'No matches found' | translate}}
                    </md-not-found>
                </md-autocomplete>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button type="button" ng-click="ctrl.cancel()" class="md-warning">{{'Cancel' | translate}}</md-button>
            <md-button type="submit" ng-disabled="!ctrl.document" ng-click="ctrl.attachDocument()" class="md-primary">{{'Attach folder' | translate}}</md-button>
        </div>
    </form>
</md-dialog>
