<table>
    <thead>
    <tr>
        <th></th>
        <th translate>Open</th>
        <th translate>Unscheduled</th>
        <th translate>Scheduled</th>
        <th translate>Work in Progress</th>
        <th translate>Review</th>
        <th translate>Complete</th>
        <th translate>Overdue</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="topic in topicStatistic track by $index">
        <td>
            <md-button class="md-no-style" ui-sref="topic({topicCode:'{{::topic.topicCode}}'})">
                <b>{{::topic.topicName}}</b>
            </md-button>
        </td>

        <td>
            <md-button class="md-primary"
                       ui-sref="topic({topicCode:'{{::topic.topicCode}}', state:'open'})"
                       ng-if="::(topic.open > 0)">
                {{::topic.open}}
            </md-button>
        </td>
        <td>
            <md-button class="md-primary"
                       ui-sref="topic({topicCode:'{{::topic.topicCode}}', state:'unscheduled'})"
                       ng-if="::(topic.unscheduled > 0)">
                {{::topic.unscheduled}}
            </md-button>
        </td>
        <td>
            <md-button class="md-primary"
                       ui-sref="topic({topicCode:'{{::topic.topicCode}}', state:'scheduled'})"
                       ng-if="::(topic.scheduled > 0)">
                {{::topic.scheduled}}
            </md-button>
        </td>
        <td>
            <md-button class="md-primary"
                       ui-sref="topic({topicCode:'{{::topic.topicCode}}', state:'workInProgress'})"
                       ng-if="::(topic.workInProgress > 0)">
                {{::topic.workInProgress}}
            </md-button>
        </td>
        <td>
            <md-button class="md-primary"
                       ui-sref="topic({topicCode:'{{::topic.topicCode}}', state:'review'})"
                       ng-if="::(topic.review > 0)">
                {{::topic.review}}
            </md-button>
        </td>
        <td>
            <md-button class="md-primary"
                       ui-sref="topic({topicCode:'{{::topic.topicCode}}', state:'complete'})"
                       ng-if="::(topic.completed > 0)">
                {{::topic.completed}}
            </md-button>
        </td>
        <td>
            <md-button class="md-accent"
                       ui-sref="topic({topicCode:'{{::topic.topicCode}}', state:'overdue'})"
                       ng-if="::(topic.overdue > 0)">
                {{::topic.overdue}}
            </md-button>
        </td>
    </tr>
    </tbody>

</table>
