<md-button class="md-no-style md-button-toggle"
  ng-click="toggle()"
  aria-controls="docs-menu-{{section.name}}"
  aria-expanded="{{isOpen()}}">
  <div class="md-list-item-inner" flex layout="row">
    <md-icon ng-if="section.icon" class="pst-navbar-icon fa fa-fw" md-font-icon="{{section.icon}}"></md-icon>
    <p>{{section.name}}</p>
    <span aria-hidden="true" class="md-toggle-icon"
    ng-class="{'toggled' : isOpen()}">
      <md-icon class="md-toggle-icon-inner" md-svg-src="md-toggle-arrow"></md-icon>
    </span>
  </div>
</md-button>

<md-list id="docs-menu-{{section.name}}" class="menu-toggle-list">
  <md-list-item ng-repeat="page in section.pages">
    <pst-menu-link style="width:100%" callback="childCallback" section="page"></menu-link>
  </md-list-item>
</md-list>
